.b-main-slide {

}

.b-main-slide__item {
	position: relative;
}

.b-main-slide__item_image_1 {
	width: 100%;
	height: 400px;
	background: url(../blocks/b-main-slide/image1.png) no-repeat top center;
	background-size: cover;
	flota: left;
}

.b-main-slide__item_image_2 {
	width: 100%;
	height: 400px;
	background: url(../blocks/b-main-slide/image2.png) no-repeat top center;
	background-size: cover;
}

.b-main-slide__item_image_3 {
	width: 100%;
	height: 400px;
	background: url(../blocks/b-main-slide/image3.png) no-repeat top center;
	background-size: cover;
}

.b-main-slide__item-content-title {
	color: rgba(0,0,0,0.50);
	font-family: 'DINPro-Regular';
	font-size: 15px;
}

.b-main-slide__item-content-year {
	font-family: 'DINPro-Regular';
	font-size: 40px;
	margin-top: 15px;
}

.b-main-slide__item-content {
	width: 250px;
	position: absolute;
	right: 80px;
	top: 130px;
}

.b-main-slide__items {
	width: 100%;
	height: 400px;
	overflow: hidden;
}