.b-timeline {

}

.b-timeline__on-map-line {
	width: 100%;
	height: 1px;
	background: #c2c0bb;
}

.b-timeline__on-map-link {
	font-size: 15px;
	display: inline-block;
	vertical-align: top;
	background: url(../blocks/b-timeline/map-icon.png) #eeeae0 no-repeat 8px 0;
	padding-left: 23px;
	margin-top: -9px;
	cursor: pointer;
}

.b-timeline__on-map-link-text {
	opacity: 0.5;
}

.b-timeline__on-map {
	text-align: center;
}