.b-photo__relatives {
	width: 100%;
	height: 90px;
	background: rgba(0,0,0,0.75);
	text-align: center;
}

.b-photo__back-to-search {
	font-family: 'DINPro-Regular';
	font-size: 15px;
	color: rgba(255,255,255,0.75);
	text-decoration: none;
	top: 5px;
}

.b-photo__relatives-item {
	display: inline-block;
	vertical-align: top;
	margin-left: 2px;
	margin-right: 3px;
}

.b-photo__relatives-list {
	display: inline-block;
	vertical-align: top;
	position: relative;
	margin-top: 20px;
}

.b-photo__back-to-search {
	width: 100px;
	position: absolute;
	left: -90px;
	text-align: left;
}

.b-photo__list-item {
	max-width: 770px;
	margin: auto;
	position: relative;
}

.b-photo__list-item img {
	max-width: 770px;
}

.b-photo__list {
	overflow: hidden;
}

.b-photo__left {
	width: 150px;
	height: 100%;
	background: url(../blocks/b-photo/photo-arrow-left.png) no-repeat center center;
	position: absolute;
	top: 0;
	left: -150px;
	cursor: pointer;
}

.b-photo__right {
	width: 150px;
	height: 100%;
	background: url(../blocks/b-photo/photo-arrow-right.png) no-repeat center center;
	position: absolute;
	top: 0;
	right: -150px;
	cursor: pointer;
}

.b-photo__content {
	padding: 40px 30px;
	background: #fff;
}

.b-photo__content-decription {
	width: 60%;
	float: left;
}

.b-photo__content-info {
	width: 28%
	float: right;
	padding-top: 14px;
}

.b-photo__content:after {
	content: '';
	display: block;
	clear: both;
}

.b-photo__meta-info:after {
	content: '';
	display: block;
	clear: both;
}

.b-photo__meta-info {
	padding: 20px 0;
}

.b-photo__title {
	font-family: 'DINPro-Regular';
	font-size: 30px;
	font-weight: bold;
	line-height: 40px;
}

.b-photo__meta-info-author {
	float: left;
	font-family: 'DINPro-Regular';
	font-size: 15px;
	opacity: 0.5;
	color: #000000;
}
.b-photo__meta-info-years {
	float: right;
	font-family: 'DINPro-Regular';
	font-size: 15px;
	opacity: 0.5;
	color: #000000;
}

.b-photo__comments {
	border-top: solid 2px #e5e5e5;
}

.b-photo__comments-num {
	font-size: 15px;
	font-weight: bold;
	padding: 10px 0;
}

.b-photo__comments-item {
	position: relative;
	margin-bottom: 20px;
}

.b-photo__comments-item-image {
	position: absolute;
	left: 0;
	top: 0;
}

.b-photo__comments-item-text {
	margin-left: 60px;
}

.b-photo__comments-author {
	font-size: 15px;
	color: #929292;
}

.b-photo__comments-item-name {
	color: #929292;
}

.b-photo__comments-time {
	font-size: 13px;
	font-style: italic;
	color: #b2afa7;
	padding-left: 3px;
}

.b-photo__comments-item-comment {
	font-size: 15px;
	line-height: 20px;
}

.b-photo__content-info-row-title {
	font-size: 15px;
	margin-bottom: 10px;
	font-weight: bold;
}

.b-photo__content-info-row-text {
	font-size: 15px;
	color: #929292;
	line-height: 19px;
}

.b-photo__content-info-row {
	margin-bottom: 30px;
}

.b-photo__add-comment-text {
	background: #FFFFFF;
	border: 1px solid #bfbcb5;
	box-shadow: inset 0px 0px 5px 0px #DFCDA2;
	padding: 5px 8px;
	position: relative;
	margin-left: 70px;
}

.b-photo__add-comment-textarea {
	width: 100%;
	height: 100%;
	border: none;
	background: none;
	resize: none;
	outline: none;
	font-size: 15px;
}

.b-photo__add-comment-triangle {
	width: 17px;
	height: 17px;
	position: absolute;
	left: -11px;
	top: -1px;
	background: url(../blocks/b-photo/textarea-triangle.png) no-repeat 0 0;
}

.b-photo__add-comment-field {
	position: relative;
	margin-top: 30px;
}

.b-photo__add-comment-avatar {
	width: 40px;
	height: 40px;
	background: #d8d8d8;
	position: absolute;
	left: 0;
	top: 0;
}

.b-photo__add-comment-button {
	border: none;
	background: none;
	background-image: linear-gradient(-180deg, #5F5F5F 0%, #7F7F7F 100%);
	box-shadow: inset 0px -1px 0px 0px rgba(0,0,0,0.25);
	font-size: 15px;
	color: #fff;
	text-align: center;
	outline: none;
	padding: 10px 21px;
	float: right;
}

.b-photo__add-comment-button:active {
	padding-top: 11px;
	padding-bottom: 9px;
}

.b-photo__add-comment-label {
	font-size: 15px;
	line-height: 39px;
}

.b-photo__add-comment-checkbox {
	margin-right: 5px;
}

.b-photo__add-comment-controls {
	margin-top: 10px;
	margin-left: 70px;
	overflow: hidden;
}