.b-photo-group {
  padding: 0 32px;
  padding-top: 40px;
  padding-bottom: 40px;
}
.b-photo-group__item {
  float: left;
  margin: 4px;
  border: 1px solid #eee;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  overflow: hidden;
  position: relative;
}
.b-photo-group__first-row {
  overflow: hidden;
}
.b-photo-group__second-row {
  overflow: hidden;
}
.b-photo-group__year {
  font-family: 'DINPro-Regular';
  font-size: 40px;
  padding: 20px 0;
}
.b-photo-group__all-photo {
  height: 300px;
  background: url("../blocks/b-photo-group/all-photo.png") no-repeat top center;
  padding-top: 45px;
  color: rgba(0,0,0,0.5);
  text-align: center;
  font-size: 15px;
  margin: auto;
  margin-top: 55%;
}
.b-photo-group__item_all_yes {
  border: solid 1px #e1e0de;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #fff;
}
