.b-top-search {
  position: relative;
}
.b-top-search__field {
  width: 100%;
}
.b-top-search__field-text {
  width: 100%;
  border: solid 1px #d4d3d2;
  background: #fff;
  height: 41px;
  font-size: 18px;
  line-height: 40px;
  outline: none;
  padding-left: 30px;
  padding-right: 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.b-top-search__icon {
  width: 17px;
  height: 16px;
  background: url("../blocks/b-top-search/search-icon.png") no-repeat center center;
  position: absolute;
  top: 13px;
  left: 9px;
}
.b-top-search__button {
  width: 82px;
  height: 41px;
  background: #8a8787;
  border: none;
  position: absolute;
  top: 0;
  right: -1px;
  border-bottom: solid 1px #5f5f5f;
  color: rgba(255,255,255,0.75);
  line-height: 37px;
  text-align: center;
  outline: none;
  font-size: 15px;
  font-family: 'DINPro-Regular';
}
.b-top-search__button:active {
  line-height: 39px;
}
.b-top-search__addition {
  font-size: 15px;
  padding: 15px 0;
}
.b-top-search__addition:after {
  clear: both;
  display: block;
  content: '';
}
.b-top-search__addition-example {
  float: left;
}
.b-top-search__example-query {
  opacity: 0.5;
  cursor: pointer;
}
.b-top-search__addition-extended {
  float: right;
  opacity: 0.5;
}
.b-top-search__selector {
  padding: 0;
  margin: 0;
  border: 1px solid #d4d3d2;
  width: 200px;
  overflow: hidden;
  background: url("../blocks/b-top-search/triangle.png") #fff no-repeat 90% 50%;
}
.b-top-search__select {
  padding: 10px 10px;
  width: 130%;
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  background-color: transparent;
  background-image: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-size: 15px;
}
.b-top-search__select {
  outline: none;
}
.b-top-search__table {
  width: 100%;
}
.b-top-search__table-column1 {
  padding-right: 20px;
}
.b-top-search__table-column2 {
  width: 200px;
  padding-right: 20px;
}
.b-top-search__table-column3 {
  width: 200px;
  padding-right: 103px;
}
@media screen and (max-width: 1200px) {
  .b-top-search__table-column1 {
    padding-right: 80px;
  }
  .b-top-search__table-column2 {
    display: none;
  }
  .b-top-search__table-column3 {
    display: none;
  }
}
