.b-head {
	height: 50px;
	padding: 0 32px;
	background: #000;
	position: relative;
}

.b-head__name {
	display: inline-block;
	vertical-align: top;
	width: 91px;
	height: 50px;
	background: url(../blocks/b-head/site-name.png) no-repeat center center;
}

.b-head__logo {
	display: inline-block;
	vertical-align: top;
	width: 72px;
	height: 50px;
	background: url(../blocks/b-head/logo.png) no-repeat center center;
}

.b-head__actions {
	float: right;
	font-size: 15px;
}

.b-head__actions-add {
	display: inline-block;
	vertical-align: top;
	line-height: 50px;
	margin: 0 11px;
	color: #fff;
	text-decoration: none; 
}

.b-head__actions-enter {
	display: inline-block;
	vertical-align: top;
	line-height: 50px;
	margin: 0 11px;
	color: #fff;
	text-decoration: none;
	margin-right: 0;
}