@font-face {
    font-family: 'DINPro-Regular';
    font-style: "normal";
    src: url("../fonts/DINPro-Regular/DINPro-Regular.eot");
    src: url("../fonts/DINPro-Regular/DINPro-Regular.eot?#iefix") format('embedded-opentype'),
         url("../fonts/DINPro-Regular/DINPro-Regular.woff") format('woff'),
         url("../fonts/DINPro-Regular/DINPro-Regular.ttf") format('truetype');
}
