
@font-face {
  font-family: 'DINPro-Regular';
  src: url('DINPro-Regular.eot?#iefix') format('embedded-opentype'),  url('DINPro-Regular.woff') format('woff'), url('DINPro-Regular.ttf')  format('truetype'), url('DINPro-Regular.svg#DINPro-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
