/*Eric Meyers CSS reset  */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display definitions */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
}
[hidden] {
  display: none;
}
/* Base elements style */
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
html,
button,
input,
select,
textarea {
  font-family: Arial, Helvetica, FreeSans, "Liberation Sans", "Nimbus Sans L", sans-serif;
  color: #2a2a2a;
}
body {
  font-size: 13px;
  line-height: 17px;
  background: #fff;
}
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}
::selection {
  background: #b3d4fc;
  text-shadow: none;
}
/* Links */
a:focus {
  outline: thin dotted;
}
a:hover,
a:active {
  outline: 0;
}
/* Embedded content */
img {
  vertical-align: middle;
}
svg:not(:root) {
  overflow: hidden;
}
/* Lists */
ul {
  list-style: none;
}
/* Forms */
legend {
  white-space: normal;
}
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}
button,
input {
  line-height: normal;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}
button[disabled],
input[disabled] {
  cursor: default;
}
input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}
/* Tables */
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td {
  vertical-align: top;
}
/* Typography */
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
dfn,
em,
i {
  font-style: italic;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 17px 0;
  padding: 0;
}
pre,
code,
kbd,
samp {
  font-family: $fontMono;
  font-size: 1em;
}
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

@font-face {
  font-family: 'DINPro-Regular';
  font-style: "normal";
  src: url("../fonts/DINPro-Regular/DINPro-Regular.eot");
  src: url("../fonts/DINPro-Regular/DINPro-Regular.eot?#iefix") format('embedded-opentype'), url("../fonts/DINPro-Regular/DINPro-Regular.woff") format('woff'), url("../fonts/DINPro-Regular/DINPro-Regular.ttf") format('truetype');
}

.b-auth {
  position: fixed;
  width: 400px;
  height: 600px;
  top: 50%;
  left: 50%;
  margin-top: -300px;
  margin-left: -200px;
  text-align: center;
  opacity: 0;
  visibility: hidden;
  -moz-transition: all 150ms ease-in-out;
  -webkit-transition: all 150ms ease-in-out;
  -o-transition: all 150ms ease-in-out;
  -webkit-transition: all 150ms ease-in-out;
  -moz-transition: all 150ms ease-in-out;
  -o-transition: all 150ms ease-in-out;
  -ms-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
}
.b-auth__title {
  font-family: 'DINPro-Regular';
  font-size: 30px;
  line-height: 40px;
}
.b-auth__desc {
  width: 320px;
  font-size: 15px;
  text-align: left;
  margin: auto;
  margin-top: 15px;
}
.b-auth__field {
  margin: 15px 0;
}
.b-auth__field-title {
  font-size: 15px;
  margin-bottom: 5px;
}
.b-auth__text-input {
  width: 300px;
  height: 40px;
  background: rgba(255,255,255,0.75);
  border: 1px solid rgba(0,0,0,0.15);
  -webkit-box-shadow: none;
  box-shadow: none;
  padding: 0 10px;
  font-size: 15px;
}
.b-auth__text-input:focus {
  background: #fff;
  border: 1px solid rgba(0,0,0,0.15);
  outline: none;
  -webkit-box-shadow: inset 0px 0px 5px 0px #b9b09b;
  box-shadow: inset 0px 0px 5px 0px #b9b09b;
}
.b-auth__button {
  color: #fff;
  background-image: linear-gradient(-180deg, #8a8787 0%, #7f7f7f 100%);
  -webkit-box-shadow: inset 0px -1px 0px 0px rgba(0,0,0,0.25);
  box-shadow: inset 0px -1px 0px 0px rgba(0,0,0,0.25);
  font-size: 15px;
  border: none;
  padding: 10px 70px;
  outline: none;
}
.b-auth__button:active {
  padding-top: 11px;
  padding-bottom: 9px;
}
.b-auth__link {
  font-size: 15px;
  color: #7d7b76;
}
.b-auth__or-block {
  width: 320px;
  margin: auto;
  text-align: center;
  position: relative;
  margin-top: 30px;
  margin-bottom: 20px;
}
.b-auth__or-line1 {
  position: absolute;
  width: 140px;
  height: 2px;
  background: #c5c2ba;
  top: 8px;
  left: 0;
  opacity: 0.5;
}
.b-auth__or-line2 {
  position: absolute;
  width: 140px;
  height: 2px;
  background: #c5c2ba;
  top: 8px;
  right: 0;
  opacity: 0.5;
}
.b-auth__or-text {
  font-size: 13px;
  color: #b2afa7;
  font-style: italic;
}
.b-auth__button-container {
  margin: 25px 0;
}
.b-auth__links {
  text-align: center;
}
.b-auth__link {
  display: inline-block;
  vertical-align: top;
  margin: 0 20px;
  text-decoration: none;
}
.b-auth__social-link {
  width: 51px;
  height: 51px;
  display: inline-block;
  vertical-align: top;
  background-image: url("../blocks/b-auth/socials.png");
  background-repeat: no-repeat;
  margin: 0 8px;
  outline: none;
}
.b-auth__social-ya {
  background-position: 0 0;
}
.b-auth__social-tw {
  background-position: -51px 0;
}
.b-auth__social-g {
  background-position: -102px 0;
}
.b-auth__social-fb {
  background-position: -153px 0;
}
.b-auth__social-vk {
  background-position: -204px 0;
}
.b-auth__close {
  width: 24px;
  height: 24px;
  background: url("../blocks/b-auth/close.png") no-repeat;
  cursor: pointer;
  position: absolute;
  right: -70px;
  top: -30px;
  -moz-transition: all 150ms ease-in-out;
  -webkit-transition: all 150ms ease-in-out;
  -o-transition: all 150ms ease-in-out;
  -webkit-transition: all 150ms ease-in-out;
  -moz-transition: all 150ms ease-in-out;
  -o-transition: all 150ms ease-in-out;
  -ms-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
  -moz-transform: rotate(0);
  -webkit-transform: rotate(0);
  -o-transform: rotate(0);
  -webkit-transform: rotate(0);
  -moz-transform: rotate(0);
  -o-transform: rotate(0);
  -ms-transform: rotate(0);
  transform: rotate(0);
}
.b-auth__close:hover {
  -moz-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}
.b-auth_show_yes {
  opacity: 1;
  visibility: visible;
}

html {
  height: 100%;
}
.b-body {
  font-family: 'PT Sans', sans-serif;
  background: #eeeae0;
  height: 100%;
  min-width: 940px;
  -moz-transition: all 150ms ease-in-out;
  -webkit-transition: all 150ms ease-in-out;
  -o-transition: all 150ms ease-in-out;
  -webkit-transition: all 150ms ease-in-out;
  -moz-transition: all 150ms ease-in-out;
  -o-transition: all 150ms ease-in-out;
  -ms-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
}
.b-body_blurred_yes {
  -ms-filter: blur(5px);
  -moz-filter: blur(5px);
  -webkit-filter: blur(5px);
  filter: blur(5px);
}
.b-body__overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(237,233,223,0.9);
  opacity: 0;
  visibility: hidden;
  -moz-transition: all 150ms ease-in-out;
  -webkit-transition: all 150ms ease-in-out;
  -o-transition: all 150ms ease-in-out;
  -webkit-transition: all 150ms ease-in-out;
  -moz-transition: all 150ms ease-in-out;
  -o-transition: all 150ms ease-in-out;
  -ms-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
}
.b-body__overlay_show_yes {
  opacity: 1;
  visibility: visible;
}

.b-head {
  height: 50px;
  padding: 0 32px;
  background: #000;
  position: relative;
}
.b-head__name {
  display: inline-block;
  vertical-align: top;
  width: 91px;
  height: 50px;
  background: url("../blocks/b-head/site-name.png") no-repeat center center;
}
.b-head__logo {
  display: inline-block;
  vertical-align: top;
  width: 72px;
  height: 50px;
  background: url("../blocks/b-head/logo.png") no-repeat center center;
}
.b-head__actions {
  float: right;
  font-size: 15px;
}
.b-head__actions-add {
  display: inline-block;
  vertical-align: top;
  line-height: 50px;
  margin: 0 11px;
  color: #fff;
  text-decoration: none;
}
.b-head__actions-enter {
  display: inline-block;
  vertical-align: top;
  line-height: 50px;
  margin: 0 11px;
  color: #fff;
  text-decoration: none;
  margin-right: 0;
}

.b-main-slide__item {
  position: relative;
}
.b-main-slide__item_image_1 {
  width: 100%;
  height: 400px;
  background: url("../blocks/b-main-slide/image1.png") no-repeat top center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  flota: left;
}
.b-main-slide__item_image_2 {
  width: 100%;
  height: 400px;
  background: url("../blocks/b-main-slide/image2.png") no-repeat top center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}
.b-main-slide__item_image_3 {
  width: 100%;
  height: 400px;
  background: url("../blocks/b-main-slide/image3.png") no-repeat top center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}
.b-main-slide__item-content-title {
  color: rgba(0,0,0,0.5);
  font-family: 'DINPro-Regular';
  font-size: 15px;
}
.b-main-slide__item-content-year {
  font-family: 'DINPro-Regular';
  font-size: 40px;
  margin-top: 15px;
}
.b-main-slide__item-content {
  width: 250px;
  position: absolute;
  right: 80px;
  top: 130px;
}
.b-main-slide__items {
  width: 100%;
  height: 400px;
  overflow: hidden;
}

.b-menu {
  font-size: 15px;
  display: inline-block;
  vertical-align: top;
  margin: 0 7%;
}
.b-menu__item {
  display: inline-block;
  vertical-align: top;
  line-height: 50px;
  margin: 0 11px;
  color: #fff;
  text-decoration: none;
}

.b-page {
  font-family: 'PT Sans', sans-serif;
}

.b-photo-group {
  padding: 0 32px;
  padding-top: 40px;
  padding-bottom: 40px;
}
.b-photo-group__item {
  float: left;
  margin: 4px;
  border: 1px solid #eee;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  overflow: hidden;
  position: relative;
}
.b-photo-group__first-row {
  overflow: hidden;
}
.b-photo-group__second-row {
  overflow: hidden;
}
.b-photo-group__year {
  font-family: 'DINPro-Regular';
  font-size: 40px;
  padding: 20px 0;
}
.b-photo-group__all-photo {
  height: 300px;
  background: url("../blocks/b-photo-group/all-photo.png") no-repeat top center;
  padding-top: 45px;
  color: rgba(0,0,0,0.5);
  text-align: center;
  font-size: 15px;
  margin: auto;
  margin-top: 55%;
}
.b-photo-group__item_all_yes {
  border: solid 1px #e1e0de;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #fff;
}

.b-photo__relatives {
  width: 100%;
  height: 90px;
  background: rgba(0,0,0,0.75);
  text-align: center;
}
.b-photo__back-to-search {
  font-family: 'DINPro-Regular';
  font-size: 15px;
  color: rgba(255,255,255,0.75);
  text-decoration: none;
  top: 5px;
}
.b-photo__relatives-item {
  display: inline-block;
  vertical-align: top;
  margin-left: 2px;
  margin-right: 3px;
}
.b-photo__relatives-list {
  display: inline-block;
  vertical-align: top;
  position: relative;
  margin-top: 20px;
}
.b-photo__back-to-search {
  width: 100px;
  position: absolute;
  left: -90px;
  text-align: left;
}
.b-photo__list-item {
  max-width: 770px;
  margin: auto;
  position: relative;
}
.b-photo__list-item img {
  max-width: 770px;
}
.b-photo__list {
  overflow: hidden;
}
.b-photo__left {
  width: 150px;
  height: 100%;
  background: url("../blocks/b-photo/photo-arrow-left.png") no-repeat center center;
  position: absolute;
  top: 0;
  left: -150px;
  cursor: pointer;
}
.b-photo__right {
  width: 150px;
  height: 100%;
  background: url("../blocks/b-photo/photo-arrow-right.png") no-repeat center center;
  position: absolute;
  top: 0;
  right: -150px;
  cursor: pointer;
}
.b-photo__content {
  padding: 40px 30px;
  background: #fff;
}
.b-photo__content-decription {
  width: 60%;
  float: left;
}
.b-photo__content-info {
  width: 28%;
  float: right;
  padding-top: 14px;
}
.b-photo__content:after {
  content: '';
  display: block;
  clear: both;
}
.b-photo__meta-info:after {
  content: '';
  display: block;
  clear: both;
}
.b-photo__meta-info {
  padding: 20px 0;
}
.b-photo__title {
  font-family: 'DINPro-Regular';
  font-size: 30px;
  font-weight: bold;
  line-height: 40px;
}
.b-photo__meta-info-author {
  float: left;
  font-family: 'DINPro-Regular';
  font-size: 15px;
  opacity: 0.5;
  color: #000;
}
.b-photo__meta-info-years {
  float: right;
  font-family: 'DINPro-Regular';
  font-size: 15px;
  opacity: 0.5;
  color: #000;
}
.b-photo__comments {
  border-top: solid 2px #e5e5e5;
}
.b-photo__comments-num {
  font-size: 15px;
  font-weight: bold;
  padding: 10px 0;
}
.b-photo__comments-item {
  position: relative;
  margin-bottom: 20px;
}
.b-photo__comments-item-image {
  position: absolute;
  left: 0;
  top: 0;
}
.b-photo__comments-item-text {
  margin-left: 60px;
}
.b-photo__comments-author {
  font-size: 15px;
  color: #929292;
}
.b-photo__comments-item-name {
  color: #929292;
}
.b-photo__comments-time {
  font-size: 13px;
  font-style: italic;
  color: #b2afa7;
  padding-left: 3px;
}
.b-photo__comments-item-comment {
  font-size: 15px;
  line-height: 20px;
}
.b-photo__content-info-row-title {
  font-size: 15px;
  margin-bottom: 10px;
  font-weight: bold;
}
.b-photo__content-info-row-text {
  font-size: 15px;
  color: #929292;
  line-height: 19px;
}
.b-photo__content-info-row {
  margin-bottom: 30px;
}
.b-photo__add-comment-text {
  background: #fff;
  border: 1px solid #bfbcb5;
  -webkit-box-shadow: inset 0px 0px 5px 0px #dfcda2;
  box-shadow: inset 0px 0px 5px 0px #dfcda2;
  padding: 5px 8px;
  position: relative;
  margin-left: 70px;
}
.b-photo__add-comment-textarea {
  width: 100%;
  height: 100%;
  border: none;
  background: none;
  resize: none;
  outline: none;
  font-size: 15px;
}
.b-photo__add-comment-triangle {
  width: 17px;
  height: 17px;
  position: absolute;
  left: -11px;
  top: -1px;
  background: url("../blocks/b-photo/textarea-triangle.png") no-repeat 0 0;
}
.b-photo__add-comment-field {
  position: relative;
  margin-top: 30px;
}
.b-photo__add-comment-avatar {
  width: 40px;
  height: 40px;
  background: #d8d8d8;
  position: absolute;
  left: 0;
  top: 0;
}
.b-photo__add-comment-button {
  border: none;
  background: none;
  background-image: linear-gradient(-180deg, #5f5f5f 0%, #7f7f7f 100%);
  -webkit-box-shadow: inset 0px -1px 0px 0px rgba(0,0,0,0.25);
  box-shadow: inset 0px -1px 0px 0px rgba(0,0,0,0.25);
  font-size: 15px;
  color: #fff;
  text-align: center;
  outline: none;
  padding: 10px 21px;
  float: right;
}
.b-photo__add-comment-button:active {
  padding-top: 11px;
  padding-bottom: 9px;
}
.b-photo__add-comment-label {
  font-size: 15px;
  line-height: 39px;
}
.b-photo__add-comment-checkbox {
  margin-right: 5px;
}
.b-photo__add-comment-controls {
  margin-top: 10px;
  margin-left: 70px;
  overflow: hidden;
}

.b-timeline__on-map-line {
  width: 100%;
  height: 1px;
  background: #c2c0bb;
}
.b-timeline__on-map-link {
  font-size: 15px;
  display: inline-block;
  vertical-align: top;
  background: url("../blocks/b-timeline/map-icon.png") #eeeae0 no-repeat 8px 0;
  padding-left: 23px;
  margin-top: -9px;
  cursor: pointer;
}
.b-timeline__on-map-link-text {
  opacity: 0.5;
}
.b-timeline__on-map {
  text-align: center;
}

.b-top-search {
  position: relative;
}
.b-top-search__field {
  width: 100%;
}
.b-top-search__field-text {
  width: 100%;
  border: solid 1px #d4d3d2;
  background: #fff;
  height: 41px;
  font-size: 18px;
  line-height: 40px;
  outline: none;
  padding-left: 30px;
  padding-right: 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.b-top-search__icon {
  width: 17px;
  height: 16px;
  background: url("../blocks/b-top-search/search-icon.png") no-repeat center center;
  position: absolute;
  top: 13px;
  left: 9px;
}
.b-top-search__button {
  width: 82px;
  height: 41px;
  background: #8a8787;
  border: none;
  position: absolute;
  top: 0;
  right: -1px;
  border-bottom: solid 1px #5f5f5f;
  color: rgba(255,255,255,0.75);
  line-height: 37px;
  text-align: center;
  outline: none;
  font-size: 15px;
  font-family: 'DINPro-Regular';
}
.b-top-search__button:active {
  line-height: 39px;
}
.b-top-search__addition {
  font-size: 15px;
  padding: 15px 0;
}
.b-top-search__addition:after {
  clear: both;
  display: block;
  content: '';
}
.b-top-search__addition-example {
  float: left;
}
.b-top-search__example-query {
  opacity: 0.5;
  cursor: pointer;
}
.b-top-search__addition-extended {
  float: right;
  opacity: 0.5;
}
.b-top-search__selector {
  padding: 0;
  margin: 0;
  border: 1px solid #d4d3d2;
  width: 200px;
  overflow: hidden;
  background: url("../blocks/b-top-search/triangle.png") #fff no-repeat 90% 50%;
}
.b-top-search__select {
  padding: 10px 10px;
  width: 130%;
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  background-color: transparent;
  background-image: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-size: 15px;
}
.b-top-search__select {
  outline: none;
}
.b-top-search__table {
  width: 100%;
}
.b-top-search__table-column1 {
  padding-right: 20px;
}
.b-top-search__table-column2 {
  width: 200px;
  padding-right: 20px;
}
.b-top-search__table-column3 {
  width: 200px;
  padding-right: 103px;
}
@media screen and (max-width: 1200px) {
  .b-top-search__table-column1 {
    padding-right: 80px;
  }
  .b-top-search__table-column2 {
    display: none;
  }
  .b-top-search__table-column3 {
    display: none;
  }
}

.b-top {
  padding: 30px 32px;
}
